.person {
  display: block;
  border: none;
  padding: 5px;
  margin: 5px;
}

.person-name {
  display: block;
  text-align: center;
  padding: 5px;
}

.person-photo {
  display: block;
  width: 150px;
  margin: 0 auto;
  border: 1px solid black;
}
